.service-main{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 70px ;
    gap: 50px;
}

.service-left{
    background-color: aqua;
    width:  600px;
    height: 600px;
    background: url(https://i.pinimg.com/736x/fb/25/f0/fb25f0ae13c7cfd2f474fd46322dfc85.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}
.service-right{
    width:  580px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 30px;
    color: white;
}
.service-right h1{
    font-size: 40px;
    font-weight: 700;
}
.service-right p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.service-right button{
    padding: 18px;
    font-size: 18px;
    width: 150px;
    color: white;
        background-color: #7da2a9; 
        border: none;
}

 @media (max-width:768px){
    .service-main{
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
    .service-left{
        width: 100%;
        height: 300px;
    }
    .service-right{
        width: 100%;
        height: auto;
    }
    .service-right h1{
        font-size: 32px;
    }
 }
 