.main-program{
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
    gap: 50px;
}
.program-top{
    display: flex;
    flex-direction: column;
    width: 900px;
    gap: 25px;

}
.program-top h1{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.program-top h2{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    line-height: 30px;
    
}

.program-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    padding: 0 10px;
}

.program-card{
    background-color:white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 400px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
     transition: all 0.3s ease;
  cursor: pointer;
  
}

.program-card h3{
font-size: 25px;    
}
.program-card:hover{
     transform: translatey(-10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}
@media  (max-width:768px) {
    .program-top{
    width: 80%;
    }
}